.toolbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    background: #f5f5f5;
    padding: 20px 20px;
    align-items: center;
}

.desktop-only {
    width: 60%;
}